{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=sarvashrestha_cms;Username=YOUR_DB_USER;Password=YOUR_DB_PASSWORD"
  },
  "JwtSettings": {
    "Key": "YOUR_SUPER_SECRET_KEY_MIN_32_CHARACTERS_LONG",
    "Issuer": "SarvashresthaCMS",
    "Audience": "SarvashresthaCMS_Users",
    "ExpiryMinutes": "60"
  }
}
